/* Font */
@font-face {
    font-family: Lato;
    src: url(./Lato-Thin.ttf) format('truetype');
}
@font-face {
    font-family: LatoLight;
    src: url(./Lato-Light.ttf) format('truetype');
}

/* Body */
body {
    font-family: 'LatoLight', sans-serif;
    color: gray;
}

/* Background image */
.background-image {
    background-image: url('./Images/background_image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Variables */
:root {
    --redColor: rgb(234, 77, 76);
    --lightGreyColor: rgb(188, 188, 188);
}

/* Screen height manager */
.fixed-height-row {
    height: 10vh;
}

.fixed-height-row-2 {
    height: 45vh;
}

/* Players manager */
.player {
    font-size: 55px;
}
.player-2 {
    color: var(--lightGreyColor);
}

/* Score manager */
.score {
    font-family: 'Lato', sans-serif;
    font-size: 90px;
    color: var(--redColor)
}
.current-score {
    margin-left: 25%;
    margin-top: 7%;
    height: 130px;
    width: 200px;
    color: black;
    font-weight: bold;
    background-color: var(--redColor);
}
.score-white {
    color: white;
    font-size: 40px;
}

/* Button manager */
.btn {
    color:grey;
    font-size: 30px;
}

.icons {
    font-family: 'Lato', sans-serif;
    color: var(--redColor);
    width: 30px;
    height: 30px;
    max-width: 100%;
    max-height: 100%;
    display: inline-block; 
}

/* Dice manager */
.dice {
    margin-top: 30%;
    height: 120px; 
    width: 120px;
}

/* Smartphones landscape */
@media (max-width: 844px) and (max-height: 390px) and (orientation: landscape) {
    .dice {
        margin-top: 10%;
        height: 80px; 
        width: 80px;
    }

    .player {
        font-size: 30px;
    }

    .score {
        font-size: 60px;
    }

    .current-score {
        margin-left: 14%;
        margin-top: 5%;
        height: auto;
        width: 70%;
        font-size: 20px;
    }

    .score-white {
        font-size: 20px;
    }

    .btn {
        font-size: 20px;
    }

    .icons {
        font-size: 20px;
    }
}

/* Bigger Smartphones and tablets landscape */
@media (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) {
    .col-md-4 {
        margin-bottom: 20px;
    }

    .dice {
        margin-top: 10%;
        height: 90px;
        width: 90px;
    }

    .player {
        font-size: 30px;
    }

    .score {
        font-size: 60px;
    }

    .current-score {
        margin-left: 14%;
        margin-top: 5%;
        height: auto;
        width: 70%;
        font-size: 20px;
    }

    .score-white {
        font-size: 20px;
    }

    .btn {
        font-size: 20px;
    }

    .icons {
        font-size: 20px;
    }
}

/* Smartphones portrait */
@media (max-width: 650px) {
    .dice {
        margin-top: 10%;
        height: 50px; 
        width: 50px;
    }

    .player {
        font-size: 22px;
    }

    .score {
        font-size: 50px;
    }

    .current-score {
        margin-left: 13%;
        margin-top: 5%;
        height: auto;
        width: 70%;
        font-size: 10px;
    }

    .score-white {
        font-size: 20px;
    }

    .btn {
        font-size: 15px;
    }

    .icons {
        width: 20px;
        height: 20px;
    }
  }
  
